/**
 * [mz_dash]
 *
 * @version: 0.0.1
 * @author: [author]
 * @description [description]
 *
 * [license]
 */

/**
 * NOTICE: It's important that you target your application with the [app] attribute
 */

[app="app.mz_dash"] {
	/* background-color: #080C16; */
	width: 800px;
	height: 480px;
}


[app="app.mz_dash"] .main-container {
	position: absolute;
	width: 800px;
	height: 480px;
	background-image: url(images/car-bg.png) ;
	z-index: 0;
}

[app="app.mz_dash"] .engine-indicator {
	position: absolute;
	background-image: url(images/meter-indicator.png) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 138px;
	height: 23px;
	top: 228px;
	left: 90px;
	/* 0 km/h: -67.5 */
	/* 160 km/h: 202.5deg */
	transform: rotate(100deg);
	transform-origin: 178px 11.5px ;
	z-index: 1;
}



[app="app.mz_dash"] .vehicle-speed-value {
	position: absolute;
	font-size: 40px;
	color: white;
	top: 205px;
	/* 1: 254px*/
	/* 2: 243.5px*/
	/* 3: 233px */
	left: 243.5px;
	z-index: 1;
}
[app="app.mz_dash"] .transmission-value {
	position: absolute;
	color: white;
	font-size: 40px;
	top: 331px;
	left: 298px;
}

[app="app.mz_dash"] .datetime-container {
	position: absolute;
	width: 300px;
	height: 150px;
	top: 165px;
	left: 480px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

[app="app.mz_dash"] .time {
	color: white;
	font-size: 40px;
	z-index: 2;
}

[app="app.mz_dash"] .date {
	color: white;
	font-size: 13px;
	z-index: 2;
}